<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= body.title %> · SmartStop</title>
  <link rel="icon" href="<%= body.domain %>/img/favicon.svg">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
  <link href="<%= body.domain %>/css/main.css" rel="stylesheet">
  <link href="<%= body.domain %>/css/admin-form.css" rel="stylesheet">
</head>
<body>
  <nav class="ss-navbar">
    <a class="ss-navbar-brand" href="<%= body.domain %>/">
      Smart<span class="brand-dot">Stop</span>
    </a>
    <div class="ss-nav-right">
      <%- include('adminNav') %>
      <a class="nav-logout" href="<%= body.domain %>/logout">
        Logout <i class="fas fa-sign-out-alt ms-1"></i>
      </a>
    </div>
  </nav>
  <span class="d-none" id="domain" domain="<%= body.domain %>"></span>
  <div class="page-container">
