<%- include('partials/header'); %>

<h3 class="display-5 mt-5 mb-5">Admin Add</h3>
<p id="error-message" class="text-danger display-5 mt-5 mb-5"><%=body.error%></p>

<form require action="/adminAdd" method="POST" id="add-community-form" autocomplete="on">
  <div class="col-lg-6 offset-lg-3">
    <input required type="text" autofocus name="communityName" class="mb-2 form-control" id="communityName" placeholder="Community Name">

    <div class="row gate-code-container">
      <div class="input-group mb-2 col-6">
        <input type="text" class="form-control gate-code-description" placeholder="Gate Code Description" value="" aria-label="Example text with button addon" aria-describedby="button-addon1">
      </div>
      <div class="input-group mb-2 col-6">
        <input required type="text" class="form-control gate-code" placeholder="Gate Code #" value="" aria-label="Example text with button addon" aria-describedby="button-addon1">
        <div class="input-group-append">
          <button class="btn btn-outline-warning" type="button" onclick="addGateCodeField()" id="button-addon1"><i class="fas fa-plus"></i></button>
        </div>
      </div>
    </div>

    <div class="street-address-container">
      <div class="input-group mb-2">
        <input required type="text" value="<%= location? location.street : "" %>" autocomplete="on" class="mb-2 form-control street-address" id="" placeholder="(Type only the Street names)">

        <div class="input-group-append mb-2">
          <button class="btn btn-outline-warning"  onclick="addAddressField()" type="button" id="addAddress"><i class="fas fa-plus"></i></button>
        </div>
      </div>
    </div>

    <div class="row city-state-container">
      <div class="input-group mb-2 col-6">
        <input type="text" name="city" value="<%= location ? location.city:"" %>"  class="form-control city" placeholder="City Name" value="" aria-label="Example text with button addon" aria-describedby="button-addon1">

      </div>
      <div class="input-group mb-2 col-6">
          <input required type="text" name="stateCode" value="<%= location? location.stateCode : "" %>" class="form-control gate-code" placeholder="State Code" value="" aria-label="Example text with button addon" aria-describedby="button-addon1">
      </div>
    </div>


  </div>
  <div class="col-lg-6 offset-lg-3 mt-2">
    <button type="button" onclick="sendForm()" class="btn btn-primary btn-block">Add</button>
    <!-- <button type="button" onclick="addNewStreet()" class="btn btn-primary btn-block">Add</button> -->
  </div>

  <!-- <div class="d-none" hidden> -->
  <div class="">
    <textarea   name="gateCodesJSON" id="gate-code-JSON" rows="3" cols="80"></textarea>
    <textarea   name="streetsJSON" id="streets-JSON" rows="3" cols="80"></textarea>
    </div>
</form>


<%- include('partials/footerAdmin'); %>
