<%- include('partials/header'); %>

<h3 class="display-5 mt-5 mb-5" >G-CODE</h3>
<p class="d-none mb-0" id="coord-x"></p>
<p class="d-none mb-0" id="coord-y"></p>
<!-- <p class="display-5 mt-4 " id="label"><%= location.label %></p> -->

<div class="">
  <p class="mb-0"> <em><b><%= community.communityName %></b> Community</em></p>
  <p class="display-5 mb-4 " id="gateCode-description">
    <% for(street of community.streets){%>
      <%=street+",  " %>
    <% } %>
   </p>
   <div class="mt-4">
     <% for (gateCode of community.gateCodes){ %>
       <p class="mb-0 mt-3"><%=gateCode.description%></p>
     <h1 class="display-5 mt-0 mb-0" id="label">
       <%= gateCode.code %>
     </h1>
     <% } %>
     </div>
</div>
<div class="mt-1 mb-1">
  <form class="" id="geoCodeForm" action="adminInclude" method="post">
    <input type="text" name="geoCode" id="geoCode" value="">
  </form>
  <span onclick="includeCommunity()" class="btn btn-primary btn-xs">Include community </span>
</div>
<a href="/" class="btn btn-lg btn-danger mt-5">
  <i class="fas fa-2x fa-sync"></i>
</a>


<%- include('partials/footer'); %>
