<%- include('partials/login-header'); %>

<div class="d-none">
<p class="mb-0" id="coord-x"></p>
<p class="mb-0" id="coord-y"></p>
</div>

<form class="form-signin">
      <%if(body.error){ %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Login Error: </strong> <%=body.error%>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <%}%>

      <p> For security measures, you are required to login with a google account, click the button below to continue.</p>
      <a href="<%= body.domain %>/auth/google" class="text-left  btn btn-lg btn-primary btn-block p-0 m-0">
        <img src="<%= body.publicFolder %>img/google-icon-2.png" class="google-icon" alt="">
        <span class="p-4">
          Sign in with Google
        </span>
      </a>
    </form>

<form class="d-none" id="location-form" action="<%= body.domain %>/locate" method="POST">
  <input type="text" name="position" id="position" value="">
  <input type="submit" name="" value="">
</form>
<%- include('partials/login-footer'); %>
